.desktop-video-dimensions{
	position: fixed;
}
.vjs-loading-spinner, .vjs-big-play-button, .vjs-control-bar, .vjs-modal-dialog{
	display: none;
}
.video{
	video{
		position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    // z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	}
}
.super-parent{
    background-color: #18101f;
	min-height: 100vh;
}
.volume-btn{
    font-size: 45px;
    position: absolute;
    cursor: pointer;
    bottom: 25px;
}