<section class="super-parent">
	<div class="video">
		<video id="desktop-video" controls #targetWeb class="video-desktop" [muted]="'muted'" autoplay="autoplay" muted
			loop playsinline>
			<source src="https://superone3.s3.eu-west-2.amazonaws.com/web/videos/superone-trailer.mp4" type="video/mp4">
		</video>

		<video id="mobile-video" #targetMobile class="video-mobile" [muted]="'muted'" autoplay="autoplay" muted loop
			playsinline>
			<source src="https://superone3.s3.eu-west-2.amazonaws.com/web/videos/superone-trailer-mobile.mp4"
				type="video/mp4">
		</video>
	</div>
		<div class="volume-btn">
			<div class="container">
				<i *ngIf="muted" class="fa fa-volume-off text-white" aria-hidden="true" (click)="volumeBtn()"></i>
				<i *ngIf="!muted" class="fa fa-volume-up text-white" aria-hidden="true" (click)="volumeBtn()"></i>
			</div>
		</div>
</section>